/* MEDIA QUERIES */
/*

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

/* FONTS FACES */
@font-face {
    font-family: "black Raleway";
    src: url("../../../Others/Raleway-Black.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url("../../../Others/Barlow-Regular.ttf");
}

/* CSS global variable */
:root{

}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html * {
    font-family: "Barlow" ;
    font-size: 100%;
    --kloc-indigo: #9356ca;
    --kloc-blue: #4d83e6;
    --kloc-grey: #9e9ca3;
    --kloc-grey-light : #f4f4f4;
}

body{
    min-height: 100vh;
    position: relative;
}

#logo-name {
    font-size: 1.3rem;
}

#slogan-home {
    height: 100%;
    float: left;
    text-align: center;
}

.slogan-text{
    font-family: "black Raleway";
    margin-top: 40px;
    font-size: calc(0.8vw + 0.8vh + 1.5vmin);
    background:  linear-gradient(to top, rgba(184, 90, 239, 0.81), rgba(77, 131, 230, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#twitter-home {
    height: 100%;
    float: right;
}

@media (max-width: 992px) {
    .slogan-text{
        margin-top: 10px;
        font-size: calc(1.9vw + 1.9vh + 0.8vmin);
    }
}

@media (max-width: 992px) {
    #twitter-home {
        border-bottom: solid 1px #5a6268;
    }
}

/* Homepage */
#home-page{
    height: 45vh;
    background-color: rgba(255, 255, 255, 0.58);
}

#home-page-slogan {
    margin-top: 15rem;
    margin-left: 5rem;
}

#home-big-slogan {
    font-size: 3rem;
    font-family: Raleway;
    font-weight: bolder;
    color: #f9f9f9;
}

.home-md-slogan {
    font-size: 1.8rem;
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.76);
}

#home-btn-login {
    font-size: 1.5rem;
}

/* Homepage sm*/
#home-page-slogan-sm {
    margin-top: 25rem;
    margin-left: 2rem;
}

#home-big-slogan-sm {
    font-size: 3.2rem;
    font-family: Raleway;
    font-weight: bolder;
    color: #f9f9f9;
}

.home-md-slogan-sm {
    font-size: 2.2rem;
    font-family: Raleway;
    color: rgba(255, 255, 255, 0.76);
}

#home-btn-login-sm {
    font-size: 2rem;
}

/* Text size */
.small-text-cards {
    font-size: 1.1rem;
}

.big-text-bold {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}

/* Text colors */
.grey-text {
    color: #808c93;
}

.green-text {
     color: #28a745;
}



/* login box small devices */
#login-box-sm {
    font-size: 1.8rem !important;
}

@media (max-device-width: 768px) {
    .input-group-text {
        font-size: 1.8rem !important;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1600px) {
    .input-group-text {
        font-size: 1rem !important;
    }

    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}





