/* MEDIA QUERIES */
/*

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

/* FONTS FACES */
@font-face {
    font-family: "black Raleway";
    src: url("../../../Others/Raleway-Black.ttf");
    font-weight: bold;
}

/* CSS global variable */
:root{

}

html * {
    font-family: "PT Sans Narrow" ;
    font-size: 100%;
    --kloc-indigo: #b85aef;
    --kloc-blue: #4d83e6;
    --kloc-grey: #9e9ca3;
    --kloc-grey-light : #f4f4f4;
}

body{
    min-height: 100vh;
    position: relative;
}

#logo-name {
    font-size: 1.5rem;
}

#slogan-home {
    height: 100%;
    float: left;
    text-align: center;
}

.slogan-text{
    font-family: "black Raleway";
    margin-top: 40px;
    font-size: calc(0.8vw + 0.8vh + 1.5vmin);
    background:  linear-gradient(to top, rgba(184, 90, 239,0.6), rgba(77, 131, 230,0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
    .slogan-text{
        margin-top: 10px;
        font-size: calc(1.9vw + 1.9vh + 0.8vmin);
    }
}

#twitter-home {
    height: 100%;
    float: right;
}
@media (max-width: 992px) {
    #twitter-home {
       border-bottom: solid 1px #5a6268;
    }
}


#home-page{
    height: 45vh;
    background-color: rgba(255, 255, 255, 0.58);
}


