/* MEDIA QUERIES */
/*

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

/* FONTS FACES */
@font-face {
    font-family: "black Raleway";
    src: url("../../../Others/Raleway-Black.ttf");
    font-weight: bold;
}

/* CSS global variable */
:root{

}

html *
{
    font-family: "PT Sans Narrow" ;
    font-size: 100%;
    --kloc-indigo: #b85aef;
    --kloc-blue: #4d83e6;
    --kloc-grey: #eeeff0
}

#logo-name {
    font-size: 1.5rem;
}

#slogan-home {
    border: solid 1px black;
    height: 100%;
    float: left;
    text-align: center;
}

.slogan-text{
    font-family: "black Raleway";
    margin-top: 35px;
    font-size: 2em;
}

@media (min-width: 992px) {
    .slogan-text{
        font-family: "black Raleway";
        margin-top: 35px;
        font-size: 3.5em;
    }
}

#twitter-home {
    border: solid 1px black;
    height: 100%;
    float: right;
}

#home-page{
    height: 50vh;
    border: solid 1px black;
}


