/* CSS global variable */
:root{

}

html *
{
    font-family: "PT Sans Narrow" ;
    font-size: 100%;
    --kloc-indigo: #b85aef;
    --kloc-blue: #4d83e6;
    --kloc-grey: #eeeff0
}

#logo-name {
    font-size: 1.5rem;
}

#slogan-home {
    border: solid 1px black;
    height: 100%;
    float: left;
    text-align: center;
}

.slogan-text{
    font-family: "Anonymous Pro for Powerline";
    margin-top: 35px !important;
    font-size: 180%;
    font-weight: bolder;
}

#twitter-home {
    border: solid 1px black;
    height: 100%;
    float: right;
}

#home-page{
    height: 50vh;
    border: solid 1px black;
}


