{% extends 'homepage/homepage.html.twig' %}

{% block title %} Page Locataire {% endblock %}

{% block body %}
    <div class="row viewport-height" id="tenant-page">

        {% include 'Tenant Page/left-area.html.twig' %}

        <!-- cards zone -->
        <div class="col-8"  id="tenant-page-right">

        </div>
    </div>
{% endblock %}