<!-- Small devices Screen -->
<div class="col-sm-12 d-lg-none bg-light" id="tenant-page-right-sm">

</div>

<!-- Cards zone computer -->
<div class="col-lg-8 col-md-8 d-none d-lg-block mb-1 bg-light" id="tenant-page-right">

    <div class="card-deck col-lg-12 my-5">
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body d-flex flex-column">
                <span class="card-title">Quittances de loyer</span>
                <div class="small-text-cards grey-text d-flex flex-column">
                    <span><span>15</span> Factures disponibles</span>
                </div>
            </div>
        </a>
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body  d-flex flex-column">
                <span class="card-title">Mes paiements</span>
                <div class="small-text-cards grey-text d-flex flex-column">
                    <span><span>1</span> en attente</span>
                    <span><span>3</span> payés</span>
                </div>
            </div>
        </a>
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body d-flex flex-column">
                <span class="card-title">Mes demandes</span>
                <div class="small-text-cards grey-text d-flex flex-column">
                    <span><span>4</span> envoyées</span>
                    <span><span>3</span> retours</span>
                </div>
            </div>
        </a>
    </div>

    <div class="card-deck col-lg-12 my-5">
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body d-flex flex-column">
                <span class="card-title">Mes Documents</span>
                <div class="small-text-cards grey-text d-flex flex-column">
                    <span><span>9</span> documents</span>
                </div>
            </div>
        </a>
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body d-flex flex-column">
                <span class="card-title">Mon Contrat</span>
                <div class="small-text-cards grey-text d-flex flex-column">
                    <span><span>1</span> Contrat à imprimer</span>
                </div>
            </div>
        </a>
        <a class="card col-lg-4 tenant-card-links-lg">
            <div class="card-body d-flex flex-column">
                <span class="card-title">Parametres du compte</span>
            </div>
        </a>
    </div>

</div>