 before_script:
  - cd /home

 stages:
   - exit
#   - who

 job 1:
   stage: exit
   script:
     - pwd
     - ls -l
   tags:
    - linux

# job 2:
#   stage: who
#   script: whoiam
#   tags:
#    - linux

# job 3:
#  stage: pull
#  script: git pull
#  tags:
#   - vps