<div class="footer">
    <div class="py-md-3 float-left">
        <span class="text-muted">Copyright © <span id="footer-year"></span> Kloc - Intra</span>
    </div>
    <div class="py-md-3 float-right">
        <span class="text-muted">Contactez Nous</span>
    </div>
</div>
