<!-- Header homepage -->
<nav class="navbar  navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{asset('build/images/logo.png')}}" width="35" height="35" class="d-inline-block align-top" alt="">
        <span id="logo-name" class="ml-2">Kloc-Intranet</span>
    </a>

    <div>
    <a class="btn btn-outline-kloc-grey my-2 mr-3" >Inscription</a>
    <a class="btn btn-outline-kloc-indigo my-1 mr-4" href="{{ path('login_page') }}">Connexion</a>
    </div>
</nav>