{% extends 'base.html.twig' %}

 {% block title %} Kloc - Home {% endblock %}
 {% block header %}  {% include('homepage/header.html.twig') %} {% endblock %}

{% block body %}
    <!-- Small devices section -->
     <div class="col-12 d-lg-none" id="image-home-sm">
         small
     </div>

    <!-- large devices section -->
    <div class="col-lg-12 viewport-height d-none d-lg-block" id="image-home">
        <div class="row">
            <div class="col-lg-7">
                <div id="home-page-slogan">
                    <p id="home-big-slogan">Votre application dédiée à la gestion de votre location</p>
                    <span class="home-md-slogan"> Accedez à vos factures de loyer </span> <br>
                    <span class="home-md-slogan"> Accès et gestion de votre contrat </span>
                    <p class="home-md-slogan"> Suivi de vos paiements mensuels</p>


                    <br>
                    <a id="home-btn-login" class="btn btn-light my-1 mr-4" href="{{ path('security_login') }}">Connexion</a>
                </div>
            </div>
            <div class="col-lg-5" id="embedded-apple-music">
                <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" class="ml-4"
                        style="width:90%;max-width:660px;overflow:hidden;background:transparent;"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                        src="https://embed.music.apple.com/fr/playlist/in-my-room/pl.2a0b1ea7704842f4b956e959067b8389?l=fr"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}  {% include('homepage/footer.html.twig') %} {% endblock %}