{% extends 'base.html.twig' %}

 {% block title %} Kloc - Home {% endblock %}
 {% block header %}  {% include('homepage/header.html.twig') %} {% endblock %}

 {% block body %}
     <!-- Linear gradient  -->
     <div class="col-md-12" id="image-home"
          style="background-image:
                  linear-gradient(to bottom, rgba(184,90,239,0.3), rgba(77,131,230,0.2)),
                  url('{{ asset('build/images/house-in-crop.png') }}'); " >

     </div>
     <div id="home-page">
         <div class="col-lg-6" id="slogan-home">
             <p class="slogan-text">Gérez votre location en toute simplicité et transparence.</p>
             <p class="slogan-text">Communiquez avec vos colocataires en temps réel</p>
             <p class="slogan-text">Acces à vos factures et documents locatifs</p>
         </div>
         <div class="col-lg-6" id="twitter-home">
             <p>twitter zone</p>
         </div>
     </div>

 {% endblock %}

 {% block footer %}  {% include('homepage/footer.html.twig') %} {% endblock %}