
.center-div-vertically {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-div-horizontally {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    background-color: var(--kloc-indigo);
}


#tenant-card {
    width: 80%;
}

.tenant-card-links-lg {
    height: 13rem;
    font-size: 2rem;
    color: #5a6268;
}



.tenant-neighbors-img {
    width: 6rem;
    height: 6rem;
    border: solid 2px rgba(148, 148, 148, 0.85);
}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.tenant-card-neighbors {
    border-radius: 4.8rem;
    width: 95%;
    transition: background 2s ease-in, box-shadow 1s, transform 1s;
}

.tenant-card-neighbors:hover {
    border-radius: 4.8rem;
    box-shadow: 1px 5px 15px -10px #656565;
    transform: scale(1.02, 1.02);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.45, 1.2);
    cursor: pointer;
    text-decoration: none;
}


/* MEDIA QUERIES */
/* Tablet */
@media (min-width: 768px) {

    .big-text-bold-sm {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #tenant-page-left-sm-card {
        width: 80%;
        margin-top: 2rem;
        font-size: 2rem;
    }

    #tenant-neighbors-img-sm {
        width: 200px;
        height: 200px;
        border: solid 2px rgba(148, 148, 148, 0.85);
        margin-right: 1rem;
        margin-left: 1.5rem;
    }

    #tenant-page-right-sm {
        font-size: 2.2rem;
        height: 74rem;
    }

    .small-text-cards {
        font-size: 1.5rem;
    }

    .tenant-card-links-sm {
        height: 15rem;
        color: #5a6268;
    }
}

/* Regular laptop */
@media (min-width: 992px) and (max-width: 1440px) {
    .tenant-card-neighbors {
        font-size: 0.8rem;
        border-radius: 4.8rem;
    }

    #tenant-card {
        width: 100%;
    }

    .tenant-neighbors-img {
        width: 4.2rem;
        height: 4.2rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .small-text-cards {
        font-size: 1rem;
    }
}

/* MBP 13 = 1680px */
@media (min-width: 1680px) {
    .tenant-card-neighbors {
        width: 85%;
        font-size: 0.85rem;
    }

    #tenant-card {
        width: 60%;
        font-size: 1.1rem;
    }

    .card-title {
        font-size: 1.7rem;
    }

    .small-text-cards {
        font-size: 1.2rem;
    }

    .tenant-neighbors-img {
        width: 5.2rem;
        height: 5.2rem;
    }
}

/* extra large */
@media (min-width: 2000px) {
    #tenant-card {
        width: 45% !important;
        font-size: 1.1rem;
    }

    .tenant-neighbors-img {
        width: 5.5rem;
        height: 5.5rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .small-text-cards {
        font-size: 1.3rem;
    }

    .tenant-card-neighbors {
        width: 45% !important;
        font-size: 0.9rem;
    }
}


