{% extends 'homepage/homepage.html.twig' %}

{% block title %} Inscriptions | Choix {% endblock %}

{% block body %}

    <div id="register-views">
        <div class="container" id="card-views">
            <div class="row viewport-height justify-content-between align-items-center" >
                <a class="col-4 row align-items-center" id="tenant-register" href="{{ path('tenant_register') }}">
                    <i class="fas fa-bed"></i>
                    <span class="ml-md-1"> Locataire </span>
                </a>

                <a class="col-4 row align-items-center" id="owner-register" href="#">
                    <i class="fas fa-home"></i>
                    <span class="ml-md-1"> Proprietaire </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}