{% extends 'homepage/homepage.html.twig' %}

{% block title %} Inscription Proprietaire{% endblock %}

{% block body %}
    <div class="row justify-content-center viewport-height" id="register-view-owner">
        <div id="login-box" class="col-4 center-div-vertically">

            <div class="card">
                <div class="card-header">
                    Enregistrez votre compte <span class="badge btn-outline-kloc-header-user ml-2">Proprietaire</span>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}