{% extends 'homepage/homepage.html.twig' %}

{% block title %} Inscription Locataire {% endblock %}

{% block body %}
    <div class="row justify-content-center viewport-height" id="register-view-tenant">
        <div id="login-box" class="col-4 center-div-vertically">

            <div class="card">
                <div class="card-header">
                    Enregistrez votre compte <span class="badge badge-primary ml-2">Locataire</span>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    {{ form_row(form.profile_picture) }}

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        <div class="offset-8 col-4">
            <div id="uploaded-pic-tenant" class="rounded" >
                <img id="uploaded-img-tenant" alt="Votre photo" src="">
            </div>
        </div>
    </div>

    <div id="uploadimageModal-tenant" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Redimensionner l'image <i class="fas fa-camera-retro ml-2"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-9 center-div-horizontally">
                            <div id="image-crop-tenant" style="width:350px; margin-top:30px"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="img-rotate-tenant" type="button" class="btn btn-light ">Rotate <i class="fas fa-sync ml-1"></i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="validate-crop-tenant" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
