footer {
    /*background-color: rgba(156, 151, 161, 0.47) !important;*/
}

.footer-custom {
    height: 3rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(200, 209, 212, 0.53);
    color: white;
    text-align: center;
}