.footer{
    border-top: #4e555b thin;
    font-size: calc(0.4vw + 0.4vh + 0.2vmin);
    background-color: var(--kloc-grey-light);
}

@media (max-width: 992px) {
    .footer{
        font-size: calc(0.7vw + 0.7vh + 0.4vmin);
    }
}

@media (min-width: 992px) {
    .footer{
        height: 5vh;
    }
}
