/* Use for set the page height */
.viewport-height {
    height: 92vh;
}


.viewport-width {
    height: 100vw;
}


/* Registration Background */
#register-views {
    background: linear-gradient(to right, #c2e2f0, #e4cbf5);
    background-size: cover;
}

#register-view-tenant {
    background: linear-gradient(to right, #e4cbf5, #c2e2f0);
    background-size: cover;
}

#register-view-owner {
    background: linear-gradient(to right, #c2e2f0, #e4cbf5);
    background-size: cover;
}

/* Tenant Zone */
#tenant-register {
    border: solid 1px #c0c0c0;
    border-radius: 11px;
    width: calc(7.8vw + 7.8vh + 7.5vmin);
    height: calc(4.8vw + 4.8vh + 4.5vmin);

    /* hover Linear Gradient without white flash */
    background: rgb(72,129,235);
    background: linear-gradient(32deg, rgba(72,129,235,1) 100%, rgba(255,255,255,1) 100%);

    font-size: calc(1.1vw + 1.1vh + 1.1vmin);
    color: white;
    padding-left: 4%;

    /* Mouse out */
    transition: background 2s ease-out, box-shadow 1s, transform 1s;
}

/* extra large */
@media (min-width: 2000px) {
    #tenant-register {
        font-size: 3.2rem;
        height: 14rem !important;
    }

    #owner-register {
        font-size: 2.8rem !important;
        height: 14rem !important;
    }
}

#tenant-register:hover
{
    background:  linear-gradient(to top, rgba(177, 67, 221, 0.91), rgba(77, 131, 230, 0.8));
    transform: scale(1.05, 1.05);
    box-shadow: -5px 10px 19px -3px rgba(97,97,97,0.77);
    text-decoration: none;

    /* Mouse in */
    transition: all 0.9s cubic-bezier(0.165, 0.84, 0.45, 1.2);
}


/* Owner Zone */
#owner-register {
    border: solid 1px #c0c0c0;
    border-radius: 11px;
    width: calc(7.8vw + 7.8vh + 7.5vmin);
    height: calc(4.8vw + 4.8vh + 4.5vmin);

    /* hover Linear Gradient without white flash */
    background: #9c4fb5;
    background: linear-gradient(32deg,#9c4fb5 100%, rgba(255,255,255,1) 100%);

    font-size: calc(1vw + 1vh + 1.1vmin);
    color: white;
    padding-left: 4%;

    /* Mouse out */
    transition: background 2s ease-out, box-shadow 1s, transform 1s;
}

#owner-register:hover {
    background:  linear-gradient(to top, rgba(55, 65, 229, 0.8),rgba(184, 90, 239, 0.81));
    transform: scale(1.05, 1.05);
    box-shadow: 3px 10px 19px -3px rgba(97,97,97,0.77);
    text-decoration: none;

    /* Mouse in */
    transition: all 0.9s cubic-bezier(0.165, 0.84, 0.45, 1.2);
}



/* Homepage */
#image-home {
    background:  linear-gradient(to top, rgba(55, 65, 229, 0.8),rgba(184, 90, 239, 0.81));
    background-size: cover;
}

#image-home-sm {
    background:  linear-gradient(to top, rgba(55, 65, 229, 0.8),rgba(184, 90, 239, 0.81));
    background-size: cover;
}


#embedded-apple-music {
    margin-top: 22rem;
}

#embedded-apple-music:hover {
    opacity: 0.9;
}



/* TENANT PAGE STYLE */
#tenant-page-right {
    /*border: solid 1px #222222;*/
}

#tenant-page-right-sm {
    /*border: solid 1px #222222;*/
}

#tenant-page-left {
    /*border: solid 1px #222222;*/
}

#tenant-page-left-sm {
    /*border: solid 1px #70e976;*/
}

#tenant-page-left-up {
    /*border: solid 1px #70e976;*/
}

#tenant-page-left-down {
    /*border: solid 1px #6325e9;*/
    height: 15rem;
    width: 75%;
    overflow-y: scroll;
}

/* Regular laptop */
@media (min-width: 992px) and (max-width: 1440px) {
    #tenant-page-left-down {
        width: 100%;
    }
}


#tenant-page-left-down:hover {
    border: solid 1px #6325e9;
}


/* Media queries sections */
@media (min-width: 2000px) {
    #tenant-page-left-down {
        height: 25rem;
    }
}