#login-space {

}

.viewport-height {
    height: 90vh;
}


/* Tenant Zone */
#tenant-register {
    border: solid 1px #c0c0c0;
    border-radius: 11px;
    width: calc(7.8vw + 7.8vh + 7.5vmin);
    height: calc(4.8vw + 4.8vh + 4.5vmin);
    background:  var(--kloc-blue);

    font-size: calc(1.2vw + 1.2vh + 1.2vmin);
    color: white;
    padding-left: 4%;

    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.45, 1.2);
}


#tenant-register:hover
{
    transform: scale(1, 1.02);
    box-shadow: -5px 10px 19px -3px rgba(97,97,97,0.77);
    text-decoration: none;
}

/* Owner Zone */
#owner-register {
    border: solid 1px #c0c0c0;
    border-radius: 11px;
    width: calc(7.8vw + 7.8vh + 7.5vmin);
    height: calc(4.8vw + 4.8vh + 4.5vmin);
    background: #9c4fb5;

    font-size: calc(1.2vw + 1.2vh + 1.2vmin);
    color: white;
    padding-left: 4%;

    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.45, 1.1);
}

#owner-register:hover {
    transform: scale(1, 1.02);
    box-shadow: 3px 10px 19px -3px rgba(97,97,97,0.77);
    text-decoration: none;
}


